In [1]:
import openpyxl
import numpy as np
wb_obj=openpyxl.load_workbook("P:\\excel\\SALARY_CHART1.xlsx")
sheet_obj=wb_obj.active
cell_obj=sheet_obj.cell(row=1,column=1)
#print(cell_obj)
#print(cell_obj.value)
#print(sheet_obj.max_row,sheet_obj.max_column)
max_column=sheet_obj.max_column
max_row=sheet_obj.max_row
l=[]
#for i in range(1,max_row+1):
#    for j in range(1,max_column):
#        cell_obj=sheet_obj.cell(row=i,column=j)
#        l.append(cell_obj.value)
#arr=np.array(l)
#print(arr)
for i in range(1,max_row+1):
    cell_obj=sheet_obj.cell(row=i,column=2)
    l.append(cell_obj.value)
arr=np.array(l)
#print(arr)
l1=[]
for i in range(1,max_row+1):
    cell_obj=sheet_obj.cell(row=i,column=3)
    l1.append(cell_obj.value)
arr1=np.array(l1)
#print(arr1)    
e=np.array([arr,arr1])
var=e.flatten() 
print("flatten:-",var)
c= np.hstack((arr,arr1))
print("hstask:-",c)
d= np.vstack((arr,arr1))
print("vstack:-",d)

flatten:- ['EMP NAMAE' 'AKSHAY' 'SHYAM' 'MONU' 'YADAV' 'SHANKAR' 'JIVA' 'MAYANK'
 'AMAN' 'RAJU' 'SIKANDAR' None 'DESIGNATION' 'MANAGER' 'OFFICER' 'CLERK'
 'WORKER' 'WORKER' 'OFFICER' 'MANAGER' 'WORKER' 'WORKER' 'WORKER' None]
hstask:- ['EMP NAMAE' 'AKSHAY' 'SHYAM' 'MONU' 'YADAV' 'SHANKAR' 'JIVA' 'MAYANK'
 'AMAN' 'RAJU' 'SIKANDAR' None 'DESIGNATION' 'MANAGER' 'OFFICER' 'CLERK'
 'WORKER' 'WORKER' 'OFFICER' 'MANAGER' 'WORKER' 'WORKER' 'WORKER' None]
vstack:- [['EMP NAMAE' 'AKSHAY' 'SHYAM' 'MONU' 'YADAV' 'SHANKAR' 'JIVA' 'MAYANK'
  'AMAN' 'RAJU' 'SIKANDAR' None]
 ['DESIGNATION' 'MANAGER' 'OFFICER' 'CLERK' 'WORKER' 'WORKER' 'OFFICER'
  'MANAGER' 'WORKER' 'WORKER' 'WORKER' None]]

In [2]:
import openpyxl    
my_wb = openpyxl.Workbook()    
my_sheet = my_wb.active    
my_sheet_title = my_sheet.title    
print("My sheet title: " + my_sheet_title)

My sheet title: Sheet

In [28]:
import openpyxl
import numpy as np
wb_obj=openpyxl.load_workbook("P:\\excel\\MARKSHEET.xlsx")
sheet_obj=wb_obj.active
cell_obj=sheet_obj.cell(row=1,column=1)
max_column=sheet_obj.max_column
max_row=sheet_obj.max_row
wb_obj1=openpyxl.load_workbook("P:\\excel\\SALARY_CHART1.xlsx")
sheet_obj1=wb_obj1.active
cell_obj1=sheet_obj1.cell(row=1,column=1)
max_column1=sheet_obj1.max_column
max_row1=sheet_obj1.max_row
l=[]
l1=[]
for i in range(1,max_row+1):
    for j in range(1,max_column+1):
        ar=sheet_obj.cell(row=i,column=j)
        l.append(ar.value)
arr=np.array(l)
for i in range(1,max_row1+1):
    for j in range(1,max_column1+1):
        ar1=sheet_obj1.cell(row=i,column=j)
        l1.append(ar1.value)
arr1=np.array(l1)
print(arr)
print(arr1)
e=np.array([arr,arr1])
var=e.flatten() 
print("flatten:-",var)
c= np.hstack((arr,arr1))
print("hstask:-",c)
kl= np.vstack((arr,arr1))
print("vstack:-",kl)

['MARKSHEET' None None None None None None None None None None None None
 None None None None None None None None None None None None None None
 None None None None None 'S.N' 'STUDENT' 'HINDI' 'ENGLISH' 'MATH'
 'SCIENCE' 'ARTS' 'GK' 'SOCIAL SCIENCE' 'TOTAL ' 'PERCENT' 'DIVISION'
 'SUPPLY' 'RESULT' 'MAX' 'MIN' 1 'SHYAM' 75 54 65 95 62 34 60
 '=SUM(C4:I4)' '=J4/700*100'
 '=IF(K4>70,"A+",IF(K4>60,"A",IF(K4>50,"B",IF(K4>40,"C","D"))))'
 '=IF(COUNTIF(C4:I4,">33")=7,"PASS",IF(COUNTIF(C4:I4,">33")=6,"SUPPLY",IF(COUNTIF(C4:I4,">33")=5,"SUPPLY","FAIL")))'
 '=IF(K4>50,"PASS","FAIL")' '=MAX(C4:I4)' '=MIN(C4:I4)' 2 'RAM' 65 62 52
 20 52 63 62 '=SUM(C5:I5)' '=J5/700*100'
 '=IF(K5>70,"A+",IF(K5>60,"A",IF(K5>50,"B",IF(K5>40,"C","D"))))'
 '=IF(COUNTIF(C5:I5,">33")=7,"PASS",IF(COUNTIF(C5:I5,">33")=6,"SUPPLY",IF(COUNTIF(C5:I5,">33")=5,"SUPPLY","FAIL")))'
 '=IF(K5>50,"PASS","FAIL")' '=MAX(C5:I5)' '=MIN(C5:I5)' 3 'CHINNTU' 62 32
 20 35 52 52 63 '=SUM(C6:I6)' '=J6/700*100'
 '=IF(K6>70,"A+",IF(K6>60,"A",IF(K6>50,"B",IF(K6>40,"C","D"))))'
 '=IF(COUNTIF(C6:I6,">33")=7,"PASS",IF(COUNTIF(C6:I6,">33")=6,"SUPPLY",IF(COUNTIF(C6:I6,">33")=5,"SUPPLY","FAIL")))'
 '=IF(K6>50,"PASS","FAIL")' '=MAX(C6:I6)' '=MIN(C6:I6)' 4 'PINTU' 98 75 85
 95 65 75 79 '=SUM(C7:I7)' '=J7/700*100'
 '=IF(K7>70,"A+",IF(K7>60,"A",IF(K7>50,"B",IF(K7>40,"C","D"))))'
 '=IF(COUNTIF(C7:I7,">33")=7,"PASS",IF(COUNTIF(C7:I7,">33")=6,"SUPPLY",IF(COUNTIF(C7:I7,">33")=5,"SUPPLY","FAIL")))'
 '=IF(K7>50,"PASS","FAIL")' '=MAX(C7:I7)' '=MIN(C7:I7)' 5 'SURESH' 62 20
 30 12 20 20 10 '=SUM(C8:I8)' '=J8/700*100'
 '=IF(K8>70,"A+",IF(K8>60,"A",IF(K8>50,"B",IF(K8>40,"C","D"))))'
 '=IF(COUNTIF(C8:I8,">33")=7,"PASS",IF(COUNTIF(C8:I8,">33")=6,"SUPPLY",IF(COUNTIF(C8:I8,">33")=5,"SUPPLY","FAIL")))'
 '=IF(K8>50,"PASS","FAIL")' '=MAX(C8:I8)' '=MIN(C8:I8)' 6 'pk' 56 23 56 45
 67 45 67 '=SUM(C9:I9)' '=J9/700*100'
 '=IF(K9>70,"A+",IF(K9>60,"A",IF(K9>50,"B",IF(K9>40,"C","D"))))'
 '=IF(COUNTIF(C9:I9,">33")=7,"PASS",IF(COUNTIF(C9:I9,">33")=6,"SUPPLY",IF(COUNTIF(C9:I9,">33")=5,"SUPPLY","FAIL")))'
 '=IF(K9>50,"PASS","FAIL")' '=MAX(C9:I9)' '=MIN(C9:I9)' 7 'sk' 67 65 67 65
 67 34 87 '=SUM(C10:I10)' '=J10/700*100'
 '=IF(K10>70,"A+",IF(K10>60,"A",IF(K10>50,"B",IF(K10>40,"C","D"))))'
 '=IF(COUNTIF(C10:I10,">33")=7,"PASS",IF(COUNTIF(C10:I10,">33")=6,"SUPPLY",IF(COUNTIF(C10:I10,">33")=5,"SUPPLY","FAIL")))'
 '=IF(K10>50,"PASS","FAIL")' '=MAX(C10:I10)' '=MIN(C10:I10)' 8 'jk' 87 87
 78 66 78 43 65 '=SUM(C11:I11)' '=J11/700*100'
 '=IF(K11>70,"A+",IF(K11>60,"A",IF(K11>50,"B",IF(K11>40,"C","D"))))'
 '=IF(COUNTIF(C11:I11,">33")=7,"PASS",IF(COUNTIF(C11:I11,">33")=6,"SUPPLY",IF(COUNTIF(C11:I11,">33")=5,"SUPPLY","FAIL")))'
 '=IF(K11>50,"PASS","FAIL")' '=MAX(C11:I11)' '=MIN(C11:I11)' 9 'mk' 98 90
 90 88 89 54 43 '=SUM(C12:I12)' '=J12/700*100'
 '=IF(K12>70,"A+",IF(K12>60,"A",IF(K12>50,"B",IF(K12>40,"C","D"))))'
 '=IF(COUNTIF(C12:I12,">33")=7,"PASS",IF(COUNTIF(C12:I12,">33")=6,"SUPPLY",IF(COUNTIF(C12:I12,">33")=5,"SUPPLY","FAIL")))'
 '=IF(K12>50,"PASS","FAIL")' '=MAX(C12:I12)' '=MIN(C12:I12)' 10 'mn' 32 66
 77 22 98 65 34 '=SUM(C13:I13)' '=J13/700*100'
 '=IF(K13>70,"A+",IF(K13>60,"A",IF(K13>50,"B",IF(K13>40,"C","D"))))'
 '=IF(COUNTIF(C13:I13,">33")=7,"PASS",IF(COUNTIF(C13:I13,">33")=6,"SUPPLY",IF(COUNTIF(C13:I13,">33")=5,"SUPPLY","FAIL")))'
 '=IF(K13>50,"PASS","FAIL")' '=MAX(C13:I13)' '=MIN(C13:I13)']
['ID N.' 'EMP NAMAE' 'DESIGNATION' 'ATTENDANCE' 'WORKING DAYS' 'BASIC'
 ' ACTUAL BASIC ' 'HRR' 'CP' 'AI' 'GROSS SALARY' 'PF' 'LOAN' 'CANTEEN'
 'NET SALARY' 'OVER TIME' 'OVER TIME DAYS' 'OVER TIME SALLARY'
 'TOTAL AMOUNT' 'P121' 'AKSHAY' 'MANAGER' 25 30 45000 37500 5625 3750 5625
 52500 1050 0 200 51250 50 6.25 18750 70000 'P122' 'SHYAM' 'OFFICER' 20 30
 35000 23333.33 3500 2333.33 2333.33 31500 630 3000 300 27570 20 2.5
 5833.333333 33403.33 'P123' 'MONU' 'CLERK' 10 30 25000 8333.33 1250
 833.33 ' -   ' 10416.67 208.33 4000 150 6058.33 30 3.75 6250 12308.33
 'P124' 'YADAV' 'WORKER' 30 30 15000 15000 2250 1500 3000 21750 435 0 200
 21115 20 2.5 2500 23615 'P125' 'SHANKAR' 'WORKER' 30 30 15000 15000 2250
 1500 3000 21750 435 0 130 21185 23 2.875 2875 24060 'P126' 'JIVA'
 'OFFICER' 26 30 35000 30333.33 4550 3033.33 4550 42466.67 849.33 9000 500
 32117.33 32 4 9333.333333 41450.67 'P127' 'MAYANK' 'MANAGER' 24 30 45000
 36000 5400 3600 3600 48600 972 20000 200 27428 45 5.625 16875 44303
 'P128' 'AMAN' 'WORKER' 30 30 15000 15000 2250 1500 3000 21750 435 3000
 140 18175 65 8.125 8125 26300 'P129' 'RAJU' 'WORKER' 20 30 15000 10000
 1500 1000 1000 13500 270 0 0 13230 20 2.5 2500 15730 'P130' 'SIKANDAR'
 'WORKER' 12 30 15000 6000 900 600 ' -   ' 7500 150 0 0 7350 12 1.5 1500
 8850 None None None None None None None None None None None None None
 None None None None None None]
flatten:- [array(['MARKSHEET', None, None, None, None, None, None, None, None, None,
        None, None, None, None, None, None, None, None, None, None, None,
        None, None, None, None, None, None, None, None, None, None, None,
        'S.N', 'STUDENT', 'HINDI', 'ENGLISH', 'MATH', 'SCIENCE', 'ARTS',
        'GK', 'SOCIAL SCIENCE', 'TOTAL ', 'PERCENT', 'DIVISION', 'SUPPLY',
        'RESULT', 'MAX', 'MIN', 1, 'SHYAM', 75, 54, 65, 95, 62, 34, 60,
        '=SUM(C4:I4)', '=J4/700*100',
        '=IF(K4>70,"A+",IF(K4>60,"A",IF(K4>50,"B",IF(K4>40,"C","D"))))',
        '=IF(COUNTIF(C4:I4,">33")=7,"PASS",IF(COUNTIF(C4:I4,">33")=6,"SUPPLY",IF(COUNTIF(C4:I4,">33")=5,"SUPPLY","FAIL")))',
        '=IF(K4>50,"PASS","FAIL")', '=MAX(C4:I4)', '=MIN(C4:I4)', 2, 'RAM',
        65, 62, 52, 20, 52, 63, 62, '=SUM(C5:I5)', '=J5/700*100',
        '=IF(K5>70,"A+",IF(K5>60,"A",IF(K5>50,"B",IF(K5>40,"C","D"))))',
        '=IF(COUNTIF(C5:I5,">33")=7,"PASS",IF(COUNTIF(C5:I5,">33")=6,"SUPPLY",IF(COUNTIF(C5:I5,">33")=5,"SUPPLY","FAIL")))',
        '=IF(K5>50,"PASS","FAIL")', '=MAX(C5:I5)', '=MIN(C5:I5)', 3,
        'CHINNTU', 62, 32, 20, 35, 52, 52, 63, '=SUM(C6:I6)',
        '=J6/700*100',
        '=IF(K6>70,"A+",IF(K6>60,"A",IF(K6>50,"B",IF(K6>40,"C","D"))))',
        '=IF(COUNTIF(C6:I6,">33")=7,"PASS",IF(COUNTIF(C6:I6,">33")=6,"SUPPLY",IF(COUNTIF(C6:I6,">33")=5,"SUPPLY","FAIL")))',
        '=IF(K6>50,"PASS","FAIL")', '=MAX(C6:I6)', '=MIN(C6:I6)', 4,
        'PINTU', 98, 75, 85, 95, 65, 75, 79, '=SUM(C7:I7)', '=J7/700*100',
        '=IF(K7>70,"A+",IF(K7>60,"A",IF(K7>50,"B",IF(K7>40,"C","D"))))',
        '=IF(COUNTIF(C7:I7,">33")=7,"PASS",IF(COUNTIF(C7:I7,">33")=6,"SUPPLY",IF(COUNTIF(C7:I7,">33")=5,"SUPPLY","FAIL")))',
        '=IF(K7>50,"PASS","FAIL")', '=MAX(C7:I7)', '=MIN(C7:I7)', 5,
        'SURESH', 62, 20, 30, 12, 20, 20, 10, '=SUM(C8:I8)', '=J8/700*100',
        '=IF(K8>70,"A+",IF(K8>60,"A",IF(K8>50,"B",IF(K8>40,"C","D"))))',
        '=IF(COUNTIF(C8:I8,">33")=7,"PASS",IF(COUNTIF(C8:I8,">33")=6,"SUPPLY",IF(COUNTIF(C8:I8,">33")=5,"SUPPLY","FAIL")))',
        '=IF(K8>50,"PASS","FAIL")', '=MAX(C8:I8)', '=MIN(C8:I8)', 6, 'pk',
        56, 23, 56, 45, 67, 45, 67, '=SUM(C9:I9)', '=J9/700*100',
        '=IF(K9>70,"A+",IF(K9>60,"A",IF(K9>50,"B",IF(K9>40,"C","D"))))',
        '=IF(COUNTIF(C9:I9,">33")=7,"PASS",IF(COUNTIF(C9:I9,">33")=6,"SUPPLY",IF(COUNTIF(C9:I9,">33")=5,"SUPPLY","FAIL")))',
        '=IF(K9>50,"PASS","FAIL")', '=MAX(C9:I9)', '=MIN(C9:I9)', 7, 'sk',
        67, 65, 67, 65, 67, 34, 87, '=SUM(C10:I10)', '=J10/700*100',
        '=IF(K10>70,"A+",IF(K10>60,"A",IF(K10>50,"B",IF(K10>40,"C","D"))))',
        '=IF(COUNTIF(C10:I10,">33")=7,"PASS",IF(COUNTIF(C10:I10,">33")=6,"SUPPLY",IF(COUNTIF(C10:I10,">33")=5,"SUPPLY","FAIL")))',
        '=IF(K10>50,"PASS","FAIL")', '=MAX(C10:I10)', '=MIN(C10:I10)', 8,
        'jk', 87, 87, 78, 66, 78, 43, 65, '=SUM(C11:I11)', '=J11/700*100',
        '=IF(K11>70,"A+",IF(K11>60,"A",IF(K11>50,"B",IF(K11>40,"C","D"))))',
        '=IF(COUNTIF(C11:I11,">33")=7,"PASS",IF(COUNTIF(C11:I11,">33")=6,"SUPPLY",IF(COUNTIF(C11:I11,">33")=5,"SUPPLY","FAIL")))',
        '=IF(K11>50,"PASS","FAIL")', '=MAX(C11:I11)', '=MIN(C11:I11)', 9,
        'mk', 98, 90, 90, 88, 89, 54, 43, '=SUM(C12:I12)', '=J12/700*100',
        '=IF(K12>70,"A+",IF(K12>60,"A",IF(K12>50,"B",IF(K12>40,"C","D"))))',
        '=IF(COUNTIF(C12:I12,">33")=7,"PASS",IF(COUNTIF(C12:I12,">33")=6,"SUPPLY",IF(COUNTIF(C12:I12,">33")=5,"SUPPLY","FAIL")))',
        '=IF(K12>50,"PASS","FAIL")', '=MAX(C12:I12)', '=MIN(C12:I12)', 10,
        'mn', 32, 66, 77, 22, 98, 65, 34, '=SUM(C13:I13)', '=J13/700*100',
        '=IF(K13>70,"A+",IF(K13>60,"A",IF(K13>50,"B",IF(K13>40,"C","D"))))',
        '=IF(COUNTIF(C13:I13,">33")=7,"PASS",IF(COUNTIF(C13:I13,">33")=6,"SUPPLY",IF(COUNTIF(C13:I13,">33")=5,"SUPPLY","FAIL")))',
        '=IF(K13>50,"PASS","FAIL")', '=MAX(C13:I13)', '=MIN(C13:I13)'],
       dtype=object)
 array(['ID N.', 'EMP NAMAE', 'DESIGNATION', 'ATTENDANCE', 'WORKING DAYS',
        'BASIC', ' ACTUAL BASIC ', 'HRR', 'CP', 'AI', 'GROSS SALARY', 'PF',
        'LOAN', 'CANTEEN', 'NET SALARY', 'OVER TIME', 'OVER TIME DAYS',
        'OVER TIME SALLARY', 'TOTAL AMOUNT', 'P121', 'AKSHAY', 'MANAGER',
        25, 30, 45000, 37500, 5625, 3750, 5625, 52500, 1050, 0, 200, 51250,
        50, 6.25, 18750, 70000, 'P122', 'SHYAM', 'OFFICER', 20, 30, 35000,
        23333.33, 3500, 2333.33, 2333.33, 31500, 630, 3000, 300, 27570, 20,
        2.5, 5833.333333, 33403.33, 'P123', 'MONU', 'CLERK', 10, 30, 25000,
        8333.33, 1250, 833.33, ' -   ', 10416.67, 208.33, 4000, 150,
        6058.33, 30, 3.75, 6250, 12308.33, 'P124', 'YADAV', 'WORKER', 30,
        30, 15000, 15000, 2250, 1500, 3000, 21750, 435, 0, 200, 21115, 20,
        2.5, 2500, 23615, 'P125', 'SHANKAR', 'WORKER', 30, 30, 15000,
        15000, 2250, 1500, 3000, 21750, 435, 0, 130, 21185, 23, 2.875,
        2875, 24060, 'P126', 'JIVA', 'OFFICER', 26, 30, 35000, 30333.33,
        4550, 3033.33, 4550, 42466.67, 849.33, 9000, 500, 32117.33, 32, 4,
        9333.333333, 41450.67, 'P127', 'MAYANK', 'MANAGER', 24, 30, 45000,
        36000, 5400, 3600, 3600, 48600, 972, 20000, 200, 27428, 45, 5.625,
        16875, 44303, 'P128', 'AMAN', 'WORKER', 30, 30, 15000, 15000, 2250,
        1500, 3000, 21750, 435, 3000, 140, 18175, 65, 8.125, 8125, 26300,
        'P129', 'RAJU', 'WORKER', 20, 30, 15000, 10000, 1500, 1000, 1000,
        13500, 270, 0, 0, 13230, 20, 2.5, 2500, 15730, 'P130', 'SIKANDAR',
        'WORKER', 12, 30, 15000, 6000, 900, 600, ' -   ', 7500, 150, 0, 0,
        7350, 12, 1.5, 1500, 8850, None, None, None, None, None, None,
        None, None, None, None, None, None, None, None, None, None, None,
        None, None], dtype=object)                                         ]
hstask:- ['MARKSHEET' None None None None None None None None None None None None
 None None None None None None None None None None None None None None
 None None None None None 'S.N' 'STUDENT' 'HINDI' 'ENGLISH' 'MATH'
 'SCIENCE' 'ARTS' 'GK' 'SOCIAL SCIENCE' 'TOTAL ' 'PERCENT' 'DIVISION'
 'SUPPLY' 'RESULT' 'MAX' 'MIN' 1 'SHYAM' 75 54 65 95 62 34 60
 '=SUM(C4:I4)' '=J4/700*100'
 '=IF(K4>70,"A+",IF(K4>60,"A",IF(K4>50,"B",IF(K4>40,"C","D"))))'
 '=IF(COUNTIF(C4:I4,">33")=7,"PASS",IF(COUNTIF(C4:I4,">33")=6,"SUPPLY",IF(COUNTIF(C4:I4,">33")=5,"SUPPLY","FAIL")))'
 '=IF(K4>50,"PASS","FAIL")' '=MAX(C4:I4)' '=MIN(C4:I4)' 2 'RAM' 65 62 52
 20 52 63 62 '=SUM(C5:I5)' '=J5/700*100'
 '=IF(K5>70,"A+",IF(K5>60,"A",IF(K5>50,"B",IF(K5>40,"C","D"))))'
 '=IF(COUNTIF(C5:I5,">33")=7,"PASS",IF(COUNTIF(C5:I5,">33")=6,"SUPPLY",IF(COUNTIF(C5:I5,">33")=5,"SUPPLY","FAIL")))'
 '=IF(K5>50,"PASS","FAIL")' '=MAX(C5:I5)' '=MIN(C5:I5)' 3 'CHINNTU' 62 32
 20 35 52 52 63 '=SUM(C6:I6)' '=J6/700*100'
 '=IF(K6>70,"A+",IF(K6>60,"A",IF(K6>50,"B",IF(K6>40,"C","D"))))'
 '=IF(COUNTIF(C6:I6,">33")=7,"PASS",IF(COUNTIF(C6:I6,">33")=6,"SUPPLY",IF(COUNTIF(C6:I6,">33")=5,"SUPPLY","FAIL")))'
 '=IF(K6>50,"PASS","FAIL")' '=MAX(C6:I6)' '=MIN(C6:I6)' 4 'PINTU' 98 75 85
 95 65 75 79 '=SUM(C7:I7)' '=J7/700*100'
 '=IF(K7>70,"A+",IF(K7>60,"A",IF(K7>50,"B",IF(K7>40,"C","D"))))'
 '=IF(COUNTIF(C7:I7,">33")=7,"PASS",IF(COUNTIF(C7:I7,">33")=6,"SUPPLY",IF(COUNTIF(C7:I7,">33")=5,"SUPPLY","FAIL")))'
 '=IF(K7>50,"PASS","FAIL")' '=MAX(C7:I7)' '=MIN(C7:I7)' 5 'SURESH' 62 20
 30 12 20 20 10 '=SUM(C8:I8)' '=J8/700*100'
 '=IF(K8>70,"A+",IF(K8>60,"A",IF(K8>50,"B",IF(K8>40,"C","D"))))'
 '=IF(COUNTIF(C8:I8,">33")=7,"PASS",IF(COUNTIF(C8:I8,">33")=6,"SUPPLY",IF(COUNTIF(C8:I8,">33")=5,"SUPPLY","FAIL")))'
 '=IF(K8>50,"PASS","FAIL")' '=MAX(C8:I8)' '=MIN(C8:I8)' 6 'pk' 56 23 56 45
 67 45 67 '=SUM(C9:I9)' '=J9/700*100'
 '=IF(K9>70,"A+",IF(K9>60,"A",IF(K9>50,"B",IF(K9>40,"C","D"))))'
 '=IF(COUNTIF(C9:I9,">33")=7,"PASS",IF(COUNTIF(C9:I9,">33")=6,"SUPPLY",IF(COUNTIF(C9:I9,">33")=5,"SUPPLY","FAIL")))'
 '=IF(K9>50,"PASS","FAIL")' '=MAX(C9:I9)' '=MIN(C9:I9)' 7 'sk' 67 65 67 65
 67 34 87 '=SUM(C10:I10)' '=J10/700*100'
 '=IF(K10>70,"A+",IF(K10>60,"A",IF(K10>50,"B",IF(K10>40,"C","D"))))'
 '=IF(COUNTIF(C10:I10,">33")=7,"PASS",IF(COUNTIF(C10:I10,">33")=6,"SUPPLY",IF(COUNTIF(C10:I10,">33")=5,"SUPPLY","FAIL")))'
 '=IF(K10>50,"PASS","FAIL")' '=MAX(C10:I10)' '=MIN(C10:I10)' 8 'jk' 87 87
 78 66 78 43 65 '=SUM(C11:I11)' '=J11/700*100'
 '=IF(K11>70,"A+",IF(K11>60,"A",IF(K11>50,"B",IF(K11>40,"C","D"))))'
 '=IF(COUNTIF(C11:I11,">33")=7,"PASS",IF(COUNTIF(C11:I11,">33")=6,"SUPPLY",IF(COUNTIF(C11:I11,">33")=5,"SUPPLY","FAIL")))'
 '=IF(K11>50,"PASS","FAIL")' '=MAX(C11:I11)' '=MIN(C11:I11)' 9 'mk' 98 90
 90 88 89 54 43 '=SUM(C12:I12)' '=J12/700*100'
 '=IF(K12>70,"A+",IF(K12>60,"A",IF(K12>50,"B",IF(K12>40,"C","D"))))'
 '=IF(COUNTIF(C12:I12,">33")=7,"PASS",IF(COUNTIF(C12:I12,">33")=6,"SUPPLY",IF(COUNTIF(C12:I12,">33")=5,"SUPPLY","FAIL")))'
 '=IF(K12>50,"PASS","FAIL")' '=MAX(C12:I12)' '=MIN(C12:I12)' 10 'mn' 32 66
 77 22 98 65 34 '=SUM(C13:I13)' '=J13/700*100'
 '=IF(K13>70,"A+",IF(K13>60,"A",IF(K13>50,"B",IF(K13>40,"C","D"))))'
 '=IF(COUNTIF(C13:I13,">33")=7,"PASS",IF(COUNTIF(C13:I13,">33")=6,"SUPPLY",IF(COUNTIF(C13:I13,">33")=5,"SUPPLY","FAIL")))'
 '=IF(K13>50,"PASS","FAIL")' '=MAX(C13:I13)' '=MIN(C13:I13)' 'ID N.'
 'EMP NAMAE' 'DESIGNATION' 'ATTENDANCE' 'WORKING DAYS' 'BASIC'
 ' ACTUAL BASIC ' 'HRR' 'CP' 'AI' 'GROSS SALARY' 'PF' 'LOAN' 'CANTEEN'
 'NET SALARY' 'OVER TIME' 'OVER TIME DAYS' 'OVER TIME SALLARY'
 'TOTAL AMOUNT' 'P121' 'AKSHAY' 'MANAGER' 25 30 45000 37500 5625 3750 5625
 52500 1050 0 200 51250 50 6.25 18750 70000 'P122' 'SHYAM' 'OFFICER' 20 30
 35000 23333.33 3500 2333.33 2333.33 31500 630 3000 300 27570 20 2.5
 5833.333333 33403.33 'P123' 'MONU' 'CLERK' 10 30 25000 8333.33 1250
 833.33 ' -   ' 10416.67 208.33 4000 150 6058.33 30 3.75 6250 12308.33
 'P124' 'YADAV' 'WORKER' 30 30 15000 15000 2250 1500 3000 21750 435 0 200
 21115 20 2.5 2500 23615 'P125' 'SHANKAR' 'WORKER' 30 30 15000 15000 2250
 1500 3000 21750 435 0 130 21185 23 2.875 2875 24060 'P126' 'JIVA'
 'OFFICER' 26 30 35000 30333.33 4550 3033.33 4550 42466.67 849.33 9000 500
 32117.33 32 4 9333.333333 41450.67 'P127' 'MAYANK' 'MANAGER' 24 30 45000
 36000 5400 3600 3600 48600 972 20000 200 27428 45 5.625 16875 44303
 'P128' 'AMAN' 'WORKER' 30 30 15000 15000 2250 1500 3000 21750 435 3000
 140 18175 65 8.125 8125 26300 'P129' 'RAJU' 'WORKER' 20 30 15000 10000
 1500 1000 1000 13500 270 0 0 13230 20 2.5 2500 15730 'P130' 'SIKANDAR'
 'WORKER' 12 30 15000 6000 900 600 ' -   ' 7500 150 0 0 7350 12 1.5 1500
 8850 None None None None None None None None None None None None None
 None None None None None None]

C:\Users\DELL\AppData\Local\Temp/ipykernel_6864/1924921589.py:27: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  e=np.array([arr,arr1])

ValueError: all the input array dimensions for the concatenation axis must match exactly, but along dimension 1, the array at index 0 has size 208 and the array at index 1 has size 228